<!DOCTYPE html>

<html lang="en" class="overflow-x-hidden overflow-y-scroll">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Blog Website</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <div
      class="flex flex-row px-[18%] py-5 justify-between text-2xl text-left text-slate-700 font-light bg-gray-400"
    >
      <h1 class="hover:text-white cursor-pointer"><a href="/"> DAILY JOURNAL </a></h1>
      <ul class="flex space-x-7 cursor-pointer">
        <li class="hover:text-white hover:bg-gray-600 rounded-full px-3">
          <a href="/">HOME</a>
        </li>
        <li class="hover:text-white hover:bg-gray-600 rounded-full px-3">
          <a href="/about">ABOUT ME</a>
        </li>
        <li class="hover:text-white hover:bg-gray-600 rounded-full px-3">
          <a href="/contact">CONTACT ME</a>
        </li>
      </ul>
    </div>
  </body>
</html>
