<%- include("partials/header") -%>

<div class="text-left text-slate-700 font-light my-4 mb-[5%] px-96">
  <h2 class="text-3xl font-normal my-6">Contact Me</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quisquam
    assumenda, maiores eos ullam provident iste officiis nam ut itaque doloribus
    beatae odit, dicta consequuntur recusandae hic! Assumenda, vel error? <br />
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque corporis
    numquam beatae qui porro maxime facere nam inventore tempore debitis!
    Ducimus at inventore iste nemo aliquam rem possimus suscipit laudantium.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam officia
    quibusdam iure saepe autem minus aliquid eius quasi! Aperiam aliquid ab
    cumque dolor esse provident molestias sequi ipsum alias a?
  </p>
</div>

<%- include("partials/footer") -%>
