<%- include("partials/header") -%>

<div class="text-left text-slate-700 font-light my-4 mb-[5%] px-96">
  <h2 class="text-3xl font-normal my-6"><%= title %></h2>
  <p><%= content %></p>
</div>

<%- include("partials/footer") -%>
